#Ambiente virtual
.venv/
env/
__pycache__/

#Arquivos temporários e logs
*.pyc
*.log
.DS_Store

#Arquivos de dados e modelos
data/raw/*
data/interim/*

#Ignora tudo em processed...
data/processed/*
#... EXCETO o CSV da camada Gold para o deploy
!data/processed/obesity_gold.csv

#Ignora todos os modelos...
models/*.pkl

#Arquivos de ambiente
.env

#Streamlit cache
.streamlit/