-r requirements.txt

# Dependências de desenvolvimento
black             #Formatador de código
pytest            #Para testes
python-dotenv     #Para carregar .env local
pyyaml            #Para arquivos de configuração
psycopg2-binary   #Essencial para o notebook conectar ao PostgreSQL
jupyterlab        #Para rodar os notebooks .ipynb
pydrive2          #Para integração com Drive (futuro)